/* .right{
  text-align: right;
}
.mat-icon {
   vertical-align: right;
}
.mat-icon {
   vertical-align: right;
} */
span.mat-content {
    display: block !important;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
}
mat-expansion-panel{
  display: block !important;
}
